<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Music</title>
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<script type="text/javascript" src="js/holder.js"></script>
</head>
<body>
<header>
	<div class="header-left left">
		<div class="logo">
		<a href="#">
			<h1>MUSIC</h1>
		</a>	
		</div>
	</div>
	<div class="header-right left">
		<div class="nav left">
			<ul class="unstyled">
				<li><a href="#">Home</a></li>
				<li><a href="#">Listen</a></li>
				<li><a href="#">Explore</a></li>
				<li><a href="#">Signup</a></li>
				<li><a href="#">Signin</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="nav-icon left">
			<ul class="unstyled">
				<li><a href="#"><span class="fa fa-cog"></span></a></li>
				<li><a href="#"><span class="fa fa-calendar"></span></a></li>
				<li><a href="#"><span class="fa fa-search"></span></a></li>
			</ul>
			<div class="right">
				<ul class="unstyled">
					<li><a href="#"><span class="fa fa-expand"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</header>
<div id="main">
	<div class="main-left left">
		<ul class="unstyled">
			<li class="active"><a href="#"><span class="fa fa-asterisk"></span>MY MUSIC</a>
				<div class="left_subs hidden">
					<ul>
						<li><a href="#"><span class="fa fa-plus-circle"></span>PLAYLIST</a>
								<ul>
									<li><a href="#"><span class="fa fa-circle ul-blue"></span>To Listen</a></li>
									<li><a href="#"><span class="fa fa-circle ul-red"></span>Latest</a></li>
									<li><a href="#"><span class="fa fa-circle ul-green"></span>New Playlist</a></li>
								</ul>
						</li>
					</ul>
				</div>
			</li>
			<li><a href="#"><span class="fa fa-list"></span>MY PLAYLIST</a></li>
			<li><a href="#"><span class="fa fa-music"></span>LISTENING</a></li>
			<li><a href="#"><span class="fa fa-share"></span>SHARE</a></li>
		</ul>
		<div class="left-bottom">
			<div class="left-bottom-top">
			<a href="#">
				<h3>ACTIVITY</h3>
			</a>
			</div>
			<div class="left-bottom-center">
				<ul class="unstyled">
					<li><a href="#">53,671<br>plays</a></li>
					<li><a href="#">263<br>playlists</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-right left">
		<div class="main-sidebar right">
			<div class="sidebar-list">
				<h3>ONLINE<span class="fa fa-circle ul-green right"></span></h3>
				<ul class="unstyled">
					<li><a href="#"><img src="holder.js/30x30"><span>12321321</span></a></li>
					<li><a href="#"><img src="holder.js/30x30"><span>12321321</span></a></li>
					<li><a href="#"><img src="holder.js/30x30"><span>12321321</span></a></li>
					<li><a href="#"><img src="holder.js/30x30"><span>12321321</span></a></li>
					<li><a href="#"><img src="holder.js/30x30"><span>12321321</span></a></li>
				</ul>
			</div>
			<div class="sidebar-list">
				<h3>ONLINE<span class="fa fa-circle ul-green right"></span></h3>
				<ul class="unstyled">
					<li><a href="#"><img src="holder.js/30x30"><span>12321321</span></a></li>
					<li><a href="#"><img src="holder.js/30x30"><span>12321321</span></a></li>
				</ul>
			</div>
		</div>
		<div class="main-center left">
			
		</div>
	</div>
</div>
</body>
</html>